{% extends "base.html" %}
{% block content %}

<div class="border border-black border-5 p-3 mb-2 bg-white" style="box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.847);">

<h1>Marathon</h1>
<h2>
Iscrivi qui alla maratona del secolo !
</h2>
<p>Se abiti a Torbella di Gran Sasso , vai alla nostra pagina di iscrizone e partecipa</p>
<hr>
<p>Vai anche nella pagina Partecipanti per vedere chi altro parteciperà e contattali con la loro mail.</p>

</div>

<img class="rounded-circle border border-white border-5 mx-auto mt-3" src="../static/img/logo.png" alt="logoMarathon">


{% endblock %}