{% extends "base.html" %}
{% block content %}

<div class="p-3 mb-2 bg-white text-dark rounded-3 border border-5 border-black "  style="box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.847);">

    <div class="d-flex justify-content-center">

<h1>Iscriviti</h1>

<form action="{{ url_for('subscribe')}}"  method="post">

    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome">
<br>
    <label for="cognome">Cognome</label>
    <input type="text" name="cognome" id="cognome">
<br>
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email">
<br>
    <input type="submit" value="Iscriviti">

</form>

</div>

</div>

{% endblock %}